<section>
    <div class="container mt-4">
        <div class="row">


            <div class="col-md-6">
                <h2 class="text-cneter">Add Product</h2>
                <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control">

                    <label for="">Category</label>
                    <input type="text" name="category" class="form-control">


                    <label for="">Model</label>
                    <input type="text" name="model" class="form-control">

                    <label for="">Color</label>
                    <input type="textarea" name="color" class="form-control">

                    <label for="">Description</label>
                    <input type="text" name="description" class="form-control">

                    <label for="">Long Description</label>
                    <input type="textarea" name="longDescription" class="form-control">

                    <label for="">Delivery</label>
                    <input type="text" name="delivery" class="form-control">

                    <label for="">Price</label>
                    <input type="number" name="price" class="form-control">

                    <label for="">Image</label>
                    <div class="col-12">
                    <input type="file" class="form-control" name="image" id="input-files" multiple>
                    </div>
                    <div class="row">
        <div class="col-sm-12">
          <div class="preview-images" style="width : 100px;"></div>
        </div>
      </div>

                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>