<div class="row">
    <div class="col-md-4 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action='/login' method='POST'>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="email" placeholder="Email" name="email" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="password" placeholder="Password" name="password" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
                {{#if loginErr}}
                <p class="error" style="color:red">{{loginErr}}</p>
                {{/if}}
                <a href="/signup">Create new account?</a>
                <button type="submit" class="btn btn-primary float-right">Login</button>
            </form>
        </div>
    </div>
</div>